

h2{
            text-decoration: line-through;
            font-size:  20px;
            font-weight: 900;
            font-family: Arial, Helvetica, sans-serif;
            font-style: oblique;
            font-variant: small-caps;
            color: rgb(32, 22, 8);
            border: solid rgb(185, 185, 241)  9px;
            /* when you write 2 values only in padding first is top and bottom and second is right and left */
            padding: 8px; 
            /* space between content and border */
            margin: 50px 30px;

            /* margin-top: 50;
            margin-bottom:50 ;
            margin-right: 30;
            margin-left: 30; */

        }
h1{
    display: inline;
}
/* inline takes all line(no argin) while inline block takes(with margin)and takkes space for written words only  */
/* visibility hidden therefore space stays but content is not there and display none is space and content are not there */
code{
    visibility: hidden; 
    display: none;
}
/* border must take 3 values color ,size and how it appears */
.overflow{
    border: double black 8px;
    width: 300px;
    height: 200px;
    overflow: auto;
    /* hidden hides the extra content  , scroll appears content by scrolling , auto know when to apprar both scrollling bars or only one  */
}
/* grid (shabaka) if rows and columns but flex used if only rows or only column */
.container{
    background-color: pink;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    /* flex-flow: row wrap reverse ; it's shorthand for flex direction and flex wrap  */
    padding: 10px;
}
/*wrap reverse makes the go up but wrap the go down */
/*responsive i change the size of page without */

.container div{ 
    background-color: beige;
    display: flex;
    margin: 10px; 
} 

.cls2 {
    color: blueviolet;

}
ul{
    color: blue;
}

/* psudo class is when you have differrent states for the same thing  */

/* (link) when you have never visited the link and just opened the web page  */
/* make sure you write with same tarteeb link-visited-hover-active */
a:link{
    color: grey;
    text-decoration: none;   
}
/* (visited) when you already visited the llin before  */
a:visited{
    color: brown;
}
a:hover{
    color: blue;
    font-size: 21px;
}
/* active is the moment you click on the link  */
a:active{
    color: antiquewhite;
    text-decoration: underline;
}
body{
    background-image:url(https://cgaskell9367.files.wordpress.com/2015/04/watercolor3.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;


}
.practice{
    background-color:cadetblue;
    width: 700px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "header header"
    "sidebar content1"
    "footer footer"
    
    ;
    row-gap: 5px;
    column-gap: 8px;
    padding: 8px;


}
/* give each one area by it is name this name i will use w e7na benwaz3 in parent */
.header{
    grid-area: header;
    background-color: coral;
    text-align: center;
}
.content{
    grid-area: content1;
    background: azure;
    text-align: center;
}
.sidebar{
    grid-area: sidebar;
    background-color:lightskyblue;
    text-align: center;
}
.footer{
    grid-area: footer;
    
    background-color:pink;
    text-align: center;
}




        

